.Feedback {
    display: flex;
    padding: 3rem 2rem;
    flex-wrap: wrap;
    justify-content: center;
    
}

.Form {
    display: flexbox;
    padding: 4rem 3rem;
    width: 35rem;
    justify-content: flex-start;
    background-color: rgba(124, 243, 187, 0.726);
}

.Form div {
    width: 100%;
}

.detail {
    padding: 2rem 3rem;
    background: rgba(248, 191, 116, 0.534);
}

.btn .MuiButton-root {
    margin-top: 2rem;
    color: rgb(237, 241, 241);
    font-weight: 600;
    background-color: rgb(226, 146, 55);
}

.Form p {
    margin-top: 20px;
    color: rgb(76, 77, 77);
    font-size: larger;
}

.call
{
    padding: 1rem 4rem;
    color: rgb(50, 54, 54);
}
.call :first-child {
    margin-bottom: 20px;
    font-size: larger;
    font-weight: 500;
}

.mail {
    font-size: larger;
    margin-top: 20px;
    color: rgb(104, 104, 104);
    font-weight: 600;
}