.home_container {
        margin-top: 30px;    
        background: url("photo.png") no-repeat center;
        height: 100vh;
        width: 100%;
        background-size: contain;
}

.greet{ 
        position: relative;
        background-image: linear-gradient(to right, rgba(119, 8, 8, 0.719) , rgba(10, 10, 167, 0.5)), url("./Photos/greeting.jpg");
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-attachment: fixed;

}
.greet h2{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        font-size: 6rem;
        font-weight: 400;
        color: rgba(240, 255, 255, 0.842);
}

.write{  
        position: relative;
        background-image: linear-gradient( rgba(0, 0, 0, 0.582) , rgba(0, 0, 0, 0.575)),url("./Photos/Write.jpg");
        height: 100vh;
       width: 100%;
       background-size: cover;
}

.main_home p{
        position: absolute;
        padding: 2rem 2rem;
        display: flex;
        width: 35%;
        margin-left: 30px;
        margin-top: 6rem;
        border-radius: 4px;
        box-shadow: rgb(102, 102, 102) 1px 1px 5px;
        background-color: rgba(80, 80, 80, 0.541);
        color: rgb(216, 216, 216);
        line-height: 2rem;
        font-size: 1.5rem;
        text-align: center;
}

.serach{  
        background-image: linear-gradient( rgba(56, 54, 54, 0.719) , rgba(46, 46, 48, 0.5)), url("./Photos/Search.jpg");
        height: 100vh;
        width: 100%;
        background-size: cover;
}


.secure{  
        background-image: linear-gradient(to right, rgba(44, 33, 33, 0.719) , rgba(10, 109, 167, 0.5)), url("./Photos/Secure.jpg");
        height: 100vh;
        width: 100%;
        background-size: 100% 100%;
}

.serach p{
        margin-left: 60%;
}

.secure p {
        margin-top: 25%;
        margin-left: 5%;
}