.service {
        background-color: rgb(216, 216, 216);
}
.plan_box{
    background-color: aliceblue;
    border-radius: 4px;
    color: rgb(106, 114, 111);
    box-shadow: 0 2px 2px #c6c6c6;
}
.plan_box div {
    padding: 15px;
    border-bottom: 1px solid #d9d9d9;
}

.head {
    background-color: #e6e6e6;;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    line-height: 1.5;
}

.head p{
    font-size: 3rem;
    font-weight: 200;
}
.head span {
    font-size: large;
    font-weight: 400;
}
.head h3 {
    font-size: 2.2rem;
    font-weight: 400;
}

.features ul{
    margin-left: 1rem;
}

.btn {
    text-align: center;
}
.text {
    font-size: xx-large;
    text-align: center;
    padding: 5rem 2rem;
    color: #4b3b3b;
}
.text p{
  padding: 2rem 10rem;
  font-size: large;
  display: flexbox;
  flex-wrap: wrap;
  color: #6b6b6b;
}
.btn .MuiButton-root {
    color: rgb(54, 99, 99) im !important;
}