* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer_box {
    display: flex;
    justify-content: space-between;
    padding:40px 40px;
    background: rgb(184, 184, 184);
    
}


.left {
    width: 35%;
    
}
.left h2 {
    text-align: center;
}

.social_links {
        width: 33%;
        text-align: center;
        padding: 2% 0;
}


.twitter {
    color: rgb(0, 255, 255);
}

.contact {
    display: flexbox;
    margin-top: 1px;
}


.MuiIconButton-root {
      padding: 20px !important;
}