.navbar {
    display: flex;
    justify-content: space-around;
}

.nav-links {
    display: flex;
    flex-grow:0.5;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-right: 20px;
} 
.MuiButton-outlined {
    border: 2px solid #3f3f44e0 !important;
}

.li {
    text-decoration: none;
    color: #3f3f44;
    font-size:x-large;
    font-weight: 700;
}